.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: ;

}
.child{
    width:100px;
    height:100px;
    background-color:lightgray;
}
.box{
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

.box:hover{
    background-color: yellow;
    transition-duration: 5s;
    /* transform: rotate(360deg); */
    transform: translate(300px,-300px);
    border: 5px solid rgba(242, 82, 19, 0.485);
    border-radius: 60px;

}