*{
    box-sizing:border-box; 
    /* set size according to the screen size */
}

.parent{
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap:  wrap;
    
}
.box1{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    width: 33%;


}
.box2{
    background-color: rgb(38, 104, 91);
    color: white;
    text-align: center;
    padding: 10px;
    width: 33%;

}
.box3{
    background-color: rgb(57, 8, 8);
    color: white;
    text-align: center;
    padding: 10px;
    width: 33%;
}
.img{
    align-items: center;
    max-width: 100%;
    max-height: auto;
}
@media(orientation:portrait){
    body{
        background-color:yellow;
    }
}
@media(min-width:800px){
    body{
        background-color: green;
    }

}
@media(max-resolution: 1080dpi){
    body{
         background-color: orange;
    }
}