.parent{
    width: 1000px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.hover{
    width:100px;
    height: 20px;
     background-color:lightgray;

}